
.logo {
    font-family: 'Cormorant Garamond', serif;

}

.nav a {
   font-family: "Open Sans", sans-serif;
}
.hero-title {
    font-family: 'Cormorant Garamond', serif;
}
.hero-text {
  font-family: "Saira", sans-serif;
}

.btn-catalog {
    font-family: 'IBM Plex Sans', sans-serif;

}